APP_DEBUG=false
APP_URL=http://127.0.0.1:8787
APP_KEY=
ALLOW_PRIVATE_CALLBACKS=false
SYSTEM_UPDATE_ENABLED=false
PORT=8787
WEBMAN_WORKERS=4

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cxpay
DB_USERNAME=cxpay
DB_PASSWORD=change_me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
