<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxpay.asst">

    <!-- 挂机助手网络上报权限 -->
    <uses-permission android.permission.NAME="android.permission.INTERNET" />
    <uses-permission android.permission.NAME="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 保持 CPU 运行防止息屏挂断 -->
    <uses-permission android.permission.NAME="android.permission.WAKE_LOCK" />
    <!-- 开机自启动 -->
    <uses-permission android.permission.NAME="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CXPAY挂机助手"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 主界面 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 核心通知栏监听服务 NotificationListenerService -->
        <service
            android:name=".CXPayNotificationListener"
            android:label="CXPAY微信支付宝通知监听器"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
